body {
    background-image: url("res/background.png");
    background-color: #3f7a28;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
body#secondBody{
    background: white;
}

#container{
    margin-left: 65%;
    margin-top: 10%;
}
#timer{
    text-align: center;
}
#letters-in-word{
    text-align: center;
    font-size: 20px;
}
#lives-left {
    text-align: center;
    font-size: 20px;
}
#screens{
    width: 500px;
    height: 290px;
    border: 5px solid black;
    margin: 0 auto;
}


.keyboard{
    margin: 0 auto;
    margin-top: 10px;
    max-width: 830px;
    height: 130px;
    border: #ff0057 solid;
    object-position: center;
}
.guziczki{
    display: inline-block;
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #dddddd;
}
.guziczki:disabled{
    border: none;
    background:#dddddd;
    cursor: default;
}


#selected-word {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.8em;
    font-size: 40px;
  }
  #result{
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 50px;
      text-transform: uppercase;
  }




  .btn_menu{
    margin: 0 auto;
    border: solid;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 250px;
    background: #d93470;
    background-image: -webkit-linear-gradient(top, #d93470, #b8ac2b);
    background-image: -moz-linear-gradient(top, #d93470, #b8ac2b);
    background-image: -ms-linear-gradient(top, #d93470, #b8ac2b);
    background-image: -o-linear-gradient(top, #d93470, #b8ac2b);
    background-image: linear-gradient(to bottom, #d93470, #b8ac2b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 5px 5px 6px #292929;
    -webkit-box-shadow: 7px 7px 7px #666666;
    -moz-box-shadow: 7px 7px 7px #666666;
    box-shadow: 7px 7px 7px #666666;
    font-family: Courier New;
    color: #ff9eff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn_menu:hover{
    background: #fc3ca9;
    background-image: -webkit-linear-gradient(top, #fc3ca9, #34d989);
    background-image: -moz-linear-gradient(top, #fc3ca9, #34d989);
    background-image: -ms-linear-gradient(top, #fc3ca9, #34d989);
    background-image: -o-linear-gradient(top, #fc3ca9, #34d989);
    background-image: linear-gradient(to bottom, #fc3ca9, #34d989);
    text-decoration: none;
}



